.item-img {
  border-radius: 5px 5px 0 0;
  height: 70%;
  width: 100%;
}

.item-basic-data {
  color: black;
  display: grid;
  text-decoration: none;
}

.item-basic-data .item-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.item-basic-data .item-price {
  font-size: 20px;
  text-decoration: none;
}

.card {
  margin: 25px;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 300px;
  width: 300px;
}
