.page-title {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.shopping-cart-icon {
  font-size: 30px;
}

.shopping-cart-btn {
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}