.save-cart-btn {
  display: flex;
  margin: auto;
  color: #6a33eb;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #6a33eb;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.page-title {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
